html, body {
  color: white;
  background-color: #282c34;
  margin: 0;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  padding: 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.App-overlay button {
  margin: 8px;
  border: 0;
  padding: 4px 16px;
  font-weight: bold;
  background: #596275;
  color: white;
  border-radius: 4px;
}

.App-overlay button:hover {
  background: #778ca3;
}

.App-content {
  margin: 4vh auto;
  max-width: 45vw;
  position: relative;
}

video {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

a {
  color: #55efc4;
  text-decoration: none;
}
